<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>637105873790-4m4bgbk907gvq0ine0ib1tt0d2mlo7nr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637105873790-4m4bgbk907gvq0ine0ib1tt0d2mlo7nr</string>
	<key>API_KEY</key>
	<string>AIzaSyBeW-ltKQQz3m3ZnFB41fz0vH7W00Bxm-E</string>
	<key>GCM_SENDER_ID</key>
	<string>637105873790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.staack</string>
	<key>PROJECT_ID</key>
	<string>staack-8be60</string>
	<key>STORAGE_BUCKET</key>
	<string>staack-8be60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637105873790:ios:c5dd84bde211443fbe492f</string>
	<key>DATABASE_URL</key>
	<string>https://staack-8be60.firebaseio.com</string>
</dict>
</plist>